{% extends "vhsApp/base.html" %}

{% load static %}

{% block subtitulo %}UserAvatar | {% endblock subtitulo %}

{% block background %}{% static 'vhsApp/assets/vhs-digital.jpg' %}{% endblock %}

{% block contenidoVarios %}

<div class="container">

    <h3>Ingresa tu Avatar</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p></p>
        <button type="submit" class="btn btn-primary btn-sm">Upload</button>
    </form>
</div>

{% endblock contenidoVarios %}
