{% extends "vhsApp/base.html" %}

{% load static %}

{% block subtitulo %}Inicio | {% endblock subtitulo %}

{% block background %}{% static 'vhsApp/assets/Main_background.jpg' %}{% endblock %}

{% block contenidoVarios %}

<div class="container">
    <div class="mb-3 text-left">
        <h1>
            Bienvenido al mundo del VHS
            {{ user.username }}
            {% if user.avatar.imagen %}
                <img src="{{ user.avatar.imagen.url }}" width="50" height="50" class="img-thumbnail"/>
            {% endif %}
        </h1>
    </div>

    <form action="/vhsApp/buscar_cassettes/" method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-auto">
            <h2>Podes buscar un cassette:</h2>
        </div>

        <div class="col-md-4">
            <input type="text" name="busqueda" class="form-control" placeholder="Type to search...">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
        </div>

    </form>

    {% if cassettes %}

    <ul>
        <div class="row">
            <div class="col-md-8 mt-3 left">
                {% for cassette in cassettes %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{cassette.nombre}}</h2>
                        <p class="card-text text-muted h6">
                            <p>{{cassete.genero}}</p>
                            <p>{{cassete.autor}}</p>
                            <p>{{cassete.descripcion}}</p>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </ul>
 
    {% else %}

    <p>No hay datos.</p>

    {% endif %}

    <p style="color: red;">{{respuesta}}</p>

</div>

{% endblock contenidoVarios %}
