{% extends "vhsApp/base.html" %}

{% load static %}

{% block subtitulo %}Cassettes | {% endblock subtitulo %}

{% block background %}{% static 'vhsApp/assets/cassette_duo.jpg' %}{% endblock %}

{% block contenidoVarios%}

<div class="container">
    <div class="mb-3 text-left">
        <h1>Lista de cassettes</h1>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for cassette in cassettes %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ cassette.nombre }}</h2>
                    <p class="card-text text-muted h6">
                        <p>{{ cassette.genero }}</p>
                        <p>{{ cassette.autor }}</p>
                        <p>{{ cassette.descripcion }}</p>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock contenidoVarios %}
